@import url( 'https://fonts.googleapis.com/css?family=Libre+Baskerville:400,400i&display=swap');
*
{
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Libre Baskerville';
}

#nav-bar {
	position: sticky;
	top: 0;
	z-index: 10;
}
.navbar {
	background-color: darkgreen;
	padding: 0 !important;
}			

.navbar-brand img {
	height: 70px;
	padding-left: 20px;
}

.navbar-nav li {
	padding: 0 10px;
}

.navbar-nav li a {
	color: #fff !important;
	font-weight: 600;
	float: right; 
	text-align: left;

} 

.fa-bars {
	color: #fff;
	font-size: 30px !important;
}
.navbar-toggler {
	outline: none !important;
}

/*-----------------------------banner section------------------------*/

#banner {
	background: url('farm1.jpeg') no-repeat;
	background-size: cover;
	padding-top: 10%;
}

.promo-title {
	font-family: 'Libre Baskerville';
	font-size: 40px;
	margin-top: 90px;
	color:  darkgreen	;
}


#banner a {
	color: #fff;
	text-decoration: none;
}

	

.p1 {
	font-family: 'Libre Baskerville';
	font-size: 30;
	font-weight: 500;
	color: 	white;
	margin-top: 10px;

}
